body
{
     
   color: rgb(223, 207, 157) ;
   font-size: 2vw;
   font-family: 'Times New Roman', Times, serif;  
   text-indent: 20px;
   -ms-text-size-adjust: auto;
   cursor: pointer;
   font-style: italic;
   text-align: justify;
   background:rgb(2, 1, 15);
}
h1{
    text-align: center;
    text-shadow: 30px #ecc693;
    padding: 10px;
}
table,th,td
{
border: .3vw solid rgb(228, 224, 213);
margin: 1vw;
border-collapse: collapse ;
padding:1vw 

}
h2
{
    text-transform:capitalize;
    color: rgb(143, 177, 187);
    text-indent: 2px;
    -ms-text-size-adjust: auto;

}
h4
{
    text-transform: capitalize;
    color: rgb(161, 252, 217);
    border-image-width: 200px;

}
img.D1
{
height: 50vw;
width:  90vw;
align-items: center;
}
img.I1
{
    height: 2vw;
    width: 2vw;
    border: 0.1vw cornsilk;
}
#nb
{
    background-color: #5f6b6e;
}
td
{
    text-align: center;
    table-layout: auto;
    font-style: normal;
}
label.login
{
    padding: 10vw;
    vertical-align:bottom;
    text-align: center;
    font-size: larger;
    margin-top: 3vw;
    margin-left:7vw ;
}
input.login
{
    position: absolute;
    float: right;
    padding-right: 5vw;
    margin-left: 7vw;
    left: 30%;
    padding-top: .5vw;
    padding-bottom: .5vw;
}
#sign
{
 margin-left:45vw ;
 margin-top:10px;
 
}
p.sign
{
    margin-left: 30vw;
}
select.login
{
    margin-left: 1.2vw;
    padding-left: 0.5vw;
    padding-top: .5vw;
    padding-bottom:.5vw;
    
    
}